[Unit]
Description=Aptly REST API service

[Service]
User={{ aptly_service_user }}
Group={{ aptly_service_group }}
WorkingDirectory={{ aptly_base_path }}
# Remove old socket files before starting aptly
ExecStartPre=rm -f {{ aptly_api_socket }}
ExecStart=/usr/bin/aptly api serve -listen "unix://{{ aptly_api_socket }}" -no-lock
KillSignal=SIGTERM
KillMode=process
TimeoutStopSec=15s
UMask={{ aptly_api_umask }}

[Install]
WantedBy=multi-user.target
