{% macro ssl_config() %}
    ssl_certificate {{ nginx_ssl_cert }};
    ssl_certificate_key {{ nginx_ssl_key }};
    include snippets/nginx-ssl.conf;
{% endmacro -%}

{% set repo_root = aptly_base_path + "/public" %}

{% if nginx_use_https %}
server {
    # Redirect HTTP -> HTTPS
    listen 80;
    listen [::]:80;

    server_name {{ inventory_hostname }};
{% for server in nginx_server_names %}
    server_name {{ server }};
{% endfor %}
    return 301 https://$host$request_uri;
}
{% endif %}

server {
{% if nginx_use_https %}
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    {{ ssl_config() }}
{% else %}
    listen 80;
    listen [::]:80;
{% endif %}

    server_name {{ inventory_hostname }};
{% for server in nginx_server_names %}
    server_name {{ server }};
{% endfor %}
{# TODO: stop hardcoding log locations #}
    access_log /var/log/nginx/urepo-access.log;
    error_log /var/log/nginx/urepo-error.log;
    autoindex on;

    root {{ nginx_web_base_path | default(repo_root, true) }};
    index index.html index.htm;

    location /pool {
        root {{ repo_root }};

        location ~* \.(dsc|changelog)$ {
            default_type text/plain;
        }
    }
    location /dists {
        root {{ repo_root }};

        location ~* (Release|Packages|Sources)$ {
            default_type text/plain;
        }
    }
    location /.well-known {
        root /var/www/html;
    }

    location /.git {
        deny all;
    }

    location ~* \.changelog$ {
        default_type text/plain;
    }
    error_page 404 /404.html;
}

{% if nginx_server_names_redirect %}
{# Redirect from root and www. to deb.* #}
server {
    listen 80;
    listen [::]:80;

{% if nginx_use_https %}
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    {{ ssl_config() }}
{% endif %}

{% for server in nginx_server_names_redirect %}
    server_name {{ server }};
{% endfor %}

    access_log /var/log/nginx/urepo-access.log;
    error_log /var/log/nginx/urepo-error.log;

    rewrite ^ $scheme://{{ nginx_server_names[0] }}$request_uri? redirect;
}
{% endif %}
